*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
   
}
.container{
    background-image: url(../images/3.jpg);
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.navbar nav ul{
    display: flex;
    list-style-type: none;
    font-size: 1.7em;
    justify-content: flex-end;
    padding-top:20px;
    padding-bottom: 20px; 
    
}

.navbar nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding:0 20px 0 20px;
    font-weight: bold;
}

.signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerform{
    background:rgba(255, 255, 255, 0.1);
    padding: 2em;
    display: flex;
    border-radius: 30px;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    box-shadow:20px 20px 0 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.8em;
}

input{
    outline:none;
    border-radius: 40px;
    padding:1.3em 1em 1.3em 1em;
    background-color: rgba(60, 87, 155, 0.03);
}

input[type=text],input[type=email],input[type=password]{
    width:300px;
}

::placeholder{
    color:white;
    padding:1.5em;
    text-transform: uppercase;

}
td
.table1{
    border-spacing: 30px 10px;
}
.table2{
    border-spacing: 10px 10px;
}
.hidtable{
    border-spacing: 20px 10px;
}
input:focus::placeholder{
    color:transparent;
}

.welcome{
    color: white;
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
}
input,select,textarea{
    color:white;
}

button{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.5em;
    letter-spacing: 0.4em;
    border-radius: 40px;
    padding:1.5em 3.2em 1.5em 3.2em;
    outline:none;
    background-color: rgba(60,87,155,0.03);
}


@media screen and (max-width:1044px){
    .navbar{
        font-size: 80%;
    }
}

@media screen and (max-width:8754px){
    .navbar{
        font-size: 70%;
    }
    .centerform{
        font-size: 120%;
    }
    input[type=text],input[type=email],input[type=password]{
        width:250px;
    }
}

@media screen and (max-width:790px){
    .welcome{
        font-size: 100%;
    }
    ::placeholder{
        font-size: 80%;
        letter-spacing: 3%;
    }
    .navbar {
        font-size: 65%;
    }
}
@media screen and (max-width:709px){
    .navbar ul {
        flex-direction: column;
    }
    .navbar nav ul li{
        padding-bottom: 10px;
    }
}
@media screen and (max-width:750px){
    .navbar{
        font-size: 60%;
    }
}
@media screen and (max-width:638px){
    tr{
        display:flex;
        flex-direction: column;
    }
}

@media screen and (max-width:420px){
    input[type=text],input[type=email],input[type=password]{
        width:200px;
    }
    ::placeholder{
        font-size: 70%;
    }
    td{
        padding-bottom: 10px;
    }
    .table1{
        border-spacing:10px 30px;
    }
}

@media screen and (max-width:370px){
    .signin{
        justify-content: center;
    }
    .centerform{
        width:80%;
    }
}
